<form [formGroup]="form">
  <app-name-field controlName="name" />
  <app-username-field controlName="username" />
  <app-sex-field controlName="sex" />
  <app-city-field controlName="city" />
  <app-note-field controlName="note" />
  <app-date-field controlName="date" />
  <app-time-field controlName="time" />

  <app-dynamic-phone-fields formArrayName="phoneNumbers"></app-dynamic-phone-fields>
  <app-dynamic-mobile-fields formArrayName="mobileNumbers"></app-dynamic-mobile-fields>

  <button type="button" (click)="save()">Save</button>
  <button type="button" (click)="reset()">Reset</button>
  <button type="button" (click)="cancel()">Cancel</button>
</form>
